<div class="row">
    <div class="col-12 bg-color-title text-center">
        Server features
    </div>
</div>
<div class="row text-center pt-4">
    <div class="col-4">
        <h5 class="text-color-primary">Principal</h5>
        <ul style="list-style: none;padding-inline-start: 0;">
            <li>Chronicle: <span class="text-color-primary">C6 - Interlude</span></li>
            <li>Exp: <span class="text-color-primary">1x</span></b></li>
            <li>Sp: <span class="text-color-primary">1x</span></li>
            <li>Party Exp: <span class="text-color-primary">1x</span></li>
            <li>Party Sp: <span class="text-color-primary">1x</span></li>
            <li>Drop Items: <span class="text-color-primary">1x</span></li>
            <li>Drop Adena: <span class="text-color-primary">1x</span></li>
            <li>Drop Quest: <span class="text-color-primary">1x</span></li>
        </ul>
    </div>
    <div class="col-4">
        <h5 class="text-color-primary">Various features</h5>
        <ul style="list-style: none;padding-inline-start: 0;">
            <li>Items Customs: <span class="text-color-primary">No</span></li>
            <li>Donations: <span class="text-color-primary">No</span></li>
            <li>NpcBuffer: <span class="text-color-primary">No</span></li>
            <li>GmShop: <span class="text-color-primary">No</span></li>
            <li>Global Gatekeper: <span class="text-color-primary">No</span></li>
        </ul>
    </div>
    <div class="col-4">
        <h5 class="text-color-primary">Special features</h5>
        <ul style="list-style: none;padding-inline-start: 0;">
            <li>Subclass acu: <span class="text-color-primary">No</span></li>
            <li>Edited Characters: <span class="text-color-primary">No</span></li>
            <li>fissban: <span class="text-color-primary">El dios!</span></li>
        </ul>
    </div>
</div>