<div class="row bg-color-title pt-3" style="    height: 17rem;">
    <div class="col-4 text-center pt-5">
        <img src="../../../img/emoji/bd.png.caed0c7ffffe46881c04aa662c162337.png" alt="image download client">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="text-light">Principal</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul style="list-style: none;padding-inline-start: 0;">
                    <li>Chronicle: <span class="text-light">C6 - Interlude</span></li>
                    <li>Exp: <span class="text-light">1x</span></b></li>
                    <li>Sp: <span class="text-light">1x</span></li>
                    <li>Party Exp: <span class="text-light">1x</span></li>
                    <li>Party Sp: <span class="text-light">1x</span></li>
                    <li>Drop Items: <span class="text-light">1x</span></li>
                    <li>Drop Adena: <span class="text-light">1x</span></li>
                    <li>Drop Quest: <span class="text-light">1x</span></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="row bg-color-title pt-3" style="    height: 17rem;">
    <div class="col-4 text-center pt-5">
        <img src="../../../img/emoji/th.png.181a67aa96ff57345208af867305984d.png" alt="image download client">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="text-light">Various features</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul style="list-style: none;padding-inline-start: 0;">
                    <li>Items Customs: <span class="text-light">No</span></li>
                    <li>Donations: <span class="text-light">No</span></li>
                    <li>NpcBuffer: <span class="text-light">No</span></li>
                    <li>GmShop: <span class="text-light">No</span></li>
                    <li>Global Gatekeper: <span class="text-light">No</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row bg-color-title pt-3" style="    height: 17rem;">
    <div class="col-4 text-center pt-5">
        <img src="../../../img/emoji/hero.png.bbd3d75cb0961b2fcc72dafe9a68b21b.png" alt="image download client">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="text-light">Sepcial features</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul style="list-style: none;padding-inline-start: 0;">
                    <li>Subclass acu: <span class="text-light">No</span></li>
                    <li>Edited Characters: <span class="text-light">No</span></li>
                    <li>fissban: <span class="text-light">El dios!</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>