<div class="row">
    <div class="col-12 bg-color-title bg-hero text-center">
        Server Info
    </div>
</div>
<center>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Exp/Sp/Drop/Spoil: <span class="text-light"> x2</span></li>
        <li>Adena: <span class="text-light"> x3</span></li>
        <li>Party Exp/Sp: <span class="text-light"> x1.5</span></li>
        <li>Seal Stones: <span class="text-light"> x1.5</span></li>
        <li>Pets: <span class="text-light"> x2</span></li>
        <li>Fishing/Manor: <span class="text-light"> x1</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/etc_scroll_white_i00.png" width="48"> Quest <img src="./assets/img/texturesGame/icons/etc_scroll_white_i00.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Quest Exp/Sp/Adena: <span class="text-light"> x2 </span></li>
        <li>Quest Reward: <span class="text-light"> x1 </span></li>
        <li>Quest Item Chance Drop: <span class="text-light"> x2 </span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/etc_scroll_of_enchant_weapon_i02.png" width="48"> Enchant <img src="./assets/img/texturesGame/icons/etc_scroll_of_enchant_armor_i02.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Safe Enchant: <span class="text-light"> +3 </span></li>
        <li>Safe Full Armor: <span class="text-light"> +4 </span></li>
        <li>Max Enchant Armor: <span class="text-light"> +12 </span></li>
        <li>Max Enchant Weapon: <span class="text-light"> +16 </span></li>
        <li>Normal Scroll Chance: <span class="text-light"> 55% </span></li>
        <li>Blessed Scroll Chance: <span class="text-light"> 60% </span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/etc_mineral_unique_i03.png" width="48"> Augmentations <img src="./assets/img/texturesGame/icons/etc_mineral_unique_i03.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Normal Life Stone <span class="text-light">Skill Chance 1%</span></li>
        <li>Mid Life Stone <span class="text-light">Skill Chance 3%</span></li>
        <li>High Life Stone <span class="text-light">Skill Chance 5%</span></li>
        <li>Top Life Stone <span class="text-light">Skill Chance 7%</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/skillboss.png" width="48"> Raid Boss Rates & Settings <img src="./assets/img/texturesGame/icons/skillraid.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Raid Boss Exp/Sp: <span class="text-light"> x2</span></li>
        <li>Raid Boss Chance Drop: <span class="text-light"> x2</span></li>
        <li>Raid Boss Drop: <span class="text-light"> x1</span></li>
        <li>Raid Epic Boss Exp/Sp: <span class="text-light"> x1</span></li>
        <li>Raid Epic Boss Jewel Drop: <span class="text-light"> x1</span></li>
        <li>All the Raid Bosses respawn: <span class="text-light">20-24 hours</span></li>
        <li>Subclass raids: Shilen's Messenger Cabrio, Death Lord Hallate, Kernon, Longhorn Golkonda, respawn:<span class="text-light"> 18-20 hours</span></li>
        <li>Noblesse Raid: Flame of Splendor Barakiel, respawn:<span class="text-light"> 18-20 hours</span></li>
        <li>Ant Queen respawn: <span class="text-light">24-26 hours</span></li>
        <li>Core respawn: <span class="text-light">35-37 hours</span></li>
        <li>Orfen respawn: <span class="text-light">35-37 hours</span></li>
        <li>Zaken respawn: <span class="text-light">48-50 hours</span></li>
        <li>Frintezza respawn: <span class="text-light">48h-50 hours</span></li>
        <li>Baium respawn: <span class="text-light">120-122 hours</span></li>
        <li>Antharas respawn: <span class="text-light">192-194 hours</span></li>
        <li>Valakas respawn: <span class="text-light">264 hours</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/etc_bloodpledge_point_i00.png" width="48">Class Transfer / Sublcass / Nobless<img src="./assets/img/texturesGame/icons/etc_bloodpledge_point_i00.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>First Class Fee: <span class="text-light"> 50.000 adena + 2 Festival Adena</span></li>
        <li>Second Class Fee: <span class="text-light"> 1.000.000 adena + 4 Festival Adena</span></li>
        <li>Third Class Fee: <span class="text-light"> 15.000.000 adena + 5.000.000 Ancient Adena + 50 Festival Adena</span></li>
        <li>You can get Festival Adena for free every day just voting!<span class="text-light"></span></li>
        <li>Sublass: <span class="text-light"> Retail Quest</span></li>
        <li>Nobless: <span class="text-light"> Retail Quest</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/skill1405.png" width="48">Buff Slots and Durations<img src="./assets/img/texturesGame/icons/skill1405.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Buffs Slots: <span class="text-light"> 24 + 4 Divine Inspiration</span></li>
        <li>Debuffs Slots: <span class="text-light"> 10</span></li>
        <li>Durations: <span class="text-light"> Retails 20 minutes, Dances/Songs 2 minutes, Others 5 minutes</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/skill0219.png" width="48">Game Settings<img src="./assets/img/texturesGame/icons/skill0219.png" width="48">
        </div>
    </div><br />
    <ul class="list-unstyled text-color-primary">
        <li>Client Support: <span class="text-light">Interlude</span></li>
        <li>Maximum Clients per PC: <span class="text-light"> 1 main + 1 box</span></li>
        <li>Global Chat (!): <span class="text-light"> Disabled until level 25. Delay of 10 seconds between messages</span></li>
        <li>Dualsword Craft Stamp: <span class="text-light"> Available to buy from Merchant of Mammon, cost 4.000.000 Ancient Adena</span></li>
        <li>Cursed Weapons (Zariche/Akamanah): <span class="text-light"> Disabled</span></li>
        <li>Gatekeeper: <span class="text-light"> Free until level 40 (included)</span></li>
        <li>Adventurers' Guide Miss Queen: <span class="text-light"> Apprentice Adventurer's Weapon Exchange Coupon</span></li>
        <li>Seven Signs: <span class="text-light">Retail</span></li>
        <li>Auto-learn skills: <span class="text-light">No </span></li>
        <li>Restore Life Skill: <span class="text-light"> Disabled on Grand Boss only</span></li>
        <li>Shift+Click/.drop <span class="text-light">on the monster shows you its droplist</span></li>
        <li>Items on Ground: <span class="text-light"> Autodeleted in 60 minutes</span></li>
        <li>Spawn protection: <span class="text-light"> 60 seconds</span></li>
        <li>Offline Shop <span class="text-light">with Auto save/load list</span></li>
        <li>Community Board: <span class="text-light"> Reward Academy Manager, Marketplace to find items for sale/purchase (private store), Drop calculator search tool (item/Npc), Party Matching and more</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/skill0227.png" width="48">Security & Protection<img src="./assets/img/texturesGame/icons/skill0231.png" width="48">
        </div>
    </div><br />
    <ul class="list-unstyled text-color-primary">
        <li>Geodata: <span class="text-light"> None</span></li>
        <li>DDOS Protection: <span class="text-light"> Disabled</span></li>
        <li>AntiBot Protection: <span class="text-light"> None</span></li>
        <li>DualBox Protection: <span class="text-light"> Disabled</span></li>
        <li>General Protection: <span class="text-light"> None</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/event_altair_enchant_scroll_i00.png" width="48">Vote System/center<img src="./assets/img/texturesGame/icons/event_energy_enchant_scroll_i00.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>Automatic Vote Reward System</li>
        <li>ðŸ•œ Duration<span class="text-light"> 12 Hours</span></li>
        <li>Exp/Sp Increase<span class="text-light"> by +0.5%</span></li>
    </ul>
    <div class="row">
        <div class="col-12 bg-color-title bg-hero d-flex justify-content-between">
            <img src="./assets/img/texturesGame/icons/action001.png" width="48">Available Commands<img src="./assets/img/texturesGame/icons/action002.png" width="48">
        </div>
    </div>
    <br />
    <ul class="list-unstyled text-color-primary">
        <li>.vote: <span class="text-light">Open window to vote for the server</span></li>
        <li>.menu: <span class="text-light">Open the main menu with all settings</span></li>
        <li>.expon / .expoff: <span class="text-light">Enable/disable the acquisition of experience</span></li>
        <li>Message/Trade/Party: <span class="text-light">Enable/disable refuse of request</span></li>
        <li>Sell Buff: <span class="text-light">Enable/disable customizable private store sell buff</span></li>
        <li>Donation: <span class="text-light">Automatic donation reward + CB shop (No Pay 2 Win)</span></li>
        <li>Change Password: <span class="text-light">In-game feature with email Auth-Code</span></li>
        <li>Report: <span class="text-light">In-game problem report (bug/bot/etc)</span></li>
        <li>Olympiad Status/Rank: <span class="text-light">Top PvP, Pk, Clans, Online Ranking, Clan Halls, Castles and Olympiad Status</span></li>
        <li>Character Repair: <span class="text-light">If your character stuck or boot up screen not end</span></li>
    </ul>
</center>