<div class="row">
    <div class="col-12 bg-color-title bg-hero text-center">
        GrandBoss status
    </div>
</div>
<div class="table-responsive">
    <table class="table text-light pt-2">
        <thead>
            <th>Name</th>
            <th>Level</th>
            <th>State</th>
            <th>time of respawn</th>
            <th></th>
            <th></th>
        </thead>
        <tbody id="infoTable1">
            <!-- code in javascript -->
        </tbody>
    </table>
</div>
<div class="row pt-2">
    <div class="col-12 bg-color-title text-center">
        RaidBoss status
    </div>
</div>
<div class="table-responsive">
    <table class="table text-light pt-2">
        <thead>
            <th>Name</th>
            <th>Level</th>
            <th>State</th>
            <th>time of respawn</th>
            <th></th>
            <th></th>
        </thead>
        <tbody id="infoTable2">
            <!-- code in javascript -->
        </tbody>
    </table>
</div>