/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d2c38d;
    border: 2px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d2c38d;
}

/* ---------------------------
      COLORES PRINCIPALES
----------------------------*/
.text-color-primary {
    color: #d2c38d;
}

.bg-warning {
    background-color: #e8be29 !important;
}

.text-warning {
    color: #e8be29 !important;
}

.btn-color-primary {
    color: #212529 !important;
    background-color: #e8be29;
    border-color: #e8be29;
}

.btn-color-primary:hover {
    color: #212529 !important;
    background-color: #c59505;
    border-color: #c59505;
}

.bg-color-primary {
    color: #212529 !important;
    background-color: #e8be29 !important;
}

.btn-special {
    padding: 6px;
    color: #b4a46b;
    font-weight: bolder;
    background-color: #100f0f;
    border: 6px solid transparent;
    border-image: url(../assets/img/talk_DefaultBg.png) 6 stretch;
}

.btn-special:hover {
    color: #f0eee7;
    background-color: #000000;
}

.btn-normal {
    color: #f0eee7;
    font-weight: bolder;
    border: 1px solid transparent;
    border-image: url(../assets/img/border3.png) 6 stretch;
    transition: all 0.25s;
    background: linear-gradient(180deg, #e8be29 0%, #927303 61%);
    box-shadow: inset 0px 0px 1px 1px #241a06;
}

.btn-normal:hover {
    color: #383014;
    background: linear-gradient(180deg, #e8be29 0%, #e9bb14 61%);

}

.link-cursor:hover {
    cursor: pointer;
}

/* ---------------------------
               MENU
----------------------------*/
.menu-ppal {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    list-style: none;
    padding-inline-start: 0;
}

.menu-ppal-item {
    color: #e4e0d4;
    text-decoration: none;
    width: 10rem;
    position: relative !important;
    display: block;
    border-bottom: 2px solid #007bff00;
    transition: all 0.25s;
}

.menu-ppal-item:hover {
    color: #bebdb8;
    text-decoration: none;
    cursor: pointer;
}

.menu-active {
    color: #d2c38d;
    border-bottom: 2px solid #d2c38d;
}

/* ---------------------------
         PANEL RIGHT
----------------------------*/
.bg-color-panel-right {
    /*background-color: #3e4042;*/
    /*margin-bottom: 20px;*/
    border-radius: 0.25rem;
    /*border: 1px solid #1d1f21;*/
}

.bg-color-title {
    padding: 6px;
    color: #d2c38d;
    font-weight: bolder;
    background-color: #100f0f;
    border: 6px solid transparent;
    border-image: url(./assets/img/talk_DefaultBg.png) 6 stretch;


}

.bg-hero {
    background-image: url(../assets/img/texturesGame/l2ui_ch3/herotower_deco.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.bg-color-title2 {
    color: #d2c38d;
    font-weight: bolder;
    text-align: center;
    padding: 6px;
    text-shadow: 1px 1px 5px #000000;
    background-color: #0000004a;
    border: 3px solid transparent;
    border-image: url(../assets/img/border3.png) 8 stretch;
}

/* ---------------------------
         FOOTER
----------------------------*/
.footer {
    width: 100%;
    height: 30px;
    border-top: 1px solid #d2c38d;
    box-shadow: 0px -1px 10px 1px #44250d96;
    color: #d2c38d;
}


/* ---------------------------
         ESTRUCTURA
----------------------------*/
body {
    background-color: #1d1f2128 !important;

}

body::before {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../assets/img/background_alt.jpg);

    filter: blur(2px) saturate(130%);
}


.panel-border {
    color: rgb(238, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1rem !important;
    background-color: #000000a8;
    border: 3px solid transparent;
    padding: 20px;
    border-image: url(../assets/img/border3.png) 5 stretch;
    backdrop-filter: blur(15px) saturate(130%);
}


.panel-ppal {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.panel-left {
    width: 75%;
}

.panel-right {
    width: 20%;
}

.bg-dark {
    background-color: #000000a8 !important;
    /*backdrop-filter: blur(2px) saturate(130%);*/
}

.bg-dark::before {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

/* ---------------------------
             TOP CSS
----------------------------*/
.top-img {}



.top-body {
    /*height: 40px;*/
    padding-left: 16px;
    padding-top: 8px;
    border-bottom: 1px solid #d2c38d;
}

.menu-top {
    text-align: center;
    display: inline-flex;
    font-weight: bold;
    list-style: none;
    padding-inline-start: 0;
    /*padding-left: 16px;*/
}


/* ---------------------------
           LOGO CSS
----------------------------*/
.logo {
    filter: drop-shadow(-3px -3px 2px #111111);
    transition: all 0.25s;
}

.logo:hover {}

/* ---------------------------
         ALERT CSS
----------------------------*/
.alert-windows {
    max-width: 100%;
    min-width: 300px;
    position: fixed;
    left: 1.0rem;
    bottom: 0px;
    z-index: 1050;
    transition: all 1.0s ease-out;

    font-weight: bold;
    box-shadow: rgb(53, 53, 53) 0.3rem 0.3rem 0.8rem !important;

    border: 3px solid transparent !important;
    border-radius: 0.25rem;

    background-origin: padding-box, border-box;
    background-repeat: no-repeat;


    visibility: hidden;
}

.alert-windows-head {
    padding-right: 6px;
    border-radius: 0.5rem;
}

.alert-warning {
    color: rgb(202, 54, 9);
    background-image: linear-gradient(#dddcdc, #ffffff), linear-gradient(135deg, #630f04, #f30b0b 50%);
}

.alert-success {
    color: rgb(3, 107, 20);
    background-image: linear-gradient(#dddcdc, #ffffff), linear-gradient(135deg, #026107, #00e40b 50%);
}

.alert-info {
    color: rgb(51, 51, 51);
    background-image: linear-gradient(#dddcdc, #ffffff), linear-gradient(135deg, #030303, #c5c1c1 50%);
}


.custom-form {
    border: 1px solid #5b5b5b;
    color: #dcdcdc;
    background-color: #26262500;
}

.custom-form:focus {
    color: #000000;
    background-color: #929090;
    border-color: #e8be29;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 16%);
}