<div class="row">
    <div class="col-12 bg-color-title bg-hero text-center">
        Donations
    </div>
</div>
<div class="row text-center pt-4 justify-content-around">
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
    <div class="col text-center pb-3">
        <div class="card bg-color-title" style="width: 13rem">
            <div class="card-header">
                Donation Example
            </div>
            <img src="./assets/img/emoji/th.png.181a67aa96ff57345208af867305984d.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">xxxx Coins</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-normal">Buy</a>
            </div>
        </div>
    </div>
</div>