<div class="bg-dark top-body">
    <div class="row">
        <div class="col-1">
            <img src="./assets/img/logox64.png" alt="logox64" class="top-img" loading="lazy">
        </div>
        <div class="col-2">
            <h5 class="text-color-primary mt-3" id="username">..</h5>
        </div>
        <div class="col-8 text-right">
            <ul class="menu-top mt-3">
                <li><a class="btn btn-sm btn-normal ml-3" href="#characters:main">Personajes</a></li>
                <li><a class="btn btn-sm btn-normal ml-3" href="#change_password:main">Cambiar password</a></li>
                <li><a class="btn btn-sm btn-normal ml-3">Other</a></li>
            </ul>
        </div>
    </div>
</div>