<style>
    .background-vote {
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-image: url(./assets/img/emoji/bd.png.caed0c7….png);
        transition: all 0.25s;
    }

    .background-vote:hover {
        cursor: pointer;
        color: rgb(255, 248, 240);
        background-color: black;
    }
</style>
<div class="row panel-border mb-3">
    <div class="col-12 bg-color-panel-right pb-1">
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/hopzone.gif)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                HOPZONE
            </div>
        </div>
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/topzone.gif)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                TOPZONE
            </div>
        </div>
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/l2jbrasil.png)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                L2JBRASIL
            </div>
        </div>
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/l2topserver.gif)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                L2TOPSERVERS
            </div>
        </div>
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/forus.png)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                L2TOPNETWORK
            </div>
        </div>
        <div class="row bg-color-title p-0 background-vote" style="background-image:url(./assets/img/vote/mmtop.gif)">
            <div class="col-12 text-center">
                <small>vote for us on</small><br>
                MMOTOP
            </div>
        </div>
    </div>
</div>
<script>

</script>