<link rel="stylesheet" href="./resource/views/votes/votes.css">
<div class="row">
    <div class="col-12 bg-color-title text-center">
        Vote Reward
    </div>
</div>
<div class="row pt-3">
    <div class="col-12 text-center">
        Vota por nuestro server y asi todos nos beneficiamos :D
    </div>
</div>
<div class="row pt-3 justify-content-around">
    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/topzone.gif" alt="" width="70%">
        </a>
    </div>

    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/mmtop.gif" alt="" width="70%">
        </a>
    </div>
</div>
<div class="row pt-3 justify-content-around">
    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/hopzone.gif" alt="" width="70%">
        </a>
    </div>
    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/l2topserver.gif" alt="" width="70%">
        </a>
    </div>
</div>
<div class="row pt-3 justify-content-around">
    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/forus.png" alt="" width="70%">
        </a>
    </div>

    <div class="col-4 text-center panel-border">
        <a href="#">
            <img class="img-top" src="./img/vote/l2jbrasil.png" alt="" width="70%">
        </a>
    </div>
</div>