<div class="row">
    <div class="col-12 bg-color-title bg-hero text-center">
        Descargas
    </div>
</div>
<div class="row mt-3 justify-content-around">
    <div class="col-1"></div>
    <div class="col-4 text-center panel-border">
        <div class="col-12 bg-color-title mb-3">
            Cliente Completo
        </div>
        <img src="./assets/img/emoji/bd.png.caed0c7ffffe46881c04aa662c162337.png" alt="image download client">
        <hr>
        <a class="btn btn-block btn-sm btn-normal" href="#">Descargar</a>
    </div>
    <div class="col-4 text-center panel-border">
        <div class="col-12 bg-color-title mb-3">
            Parche
        </div>
        <img src="./assets/img/emoji/da.png.338707a83e5b687d6b325017bc4abda2.png" alt="image download patch">
        <hr>
        <a class="btn btn-block btn-sm btn-normal" href="#">Descargar</a>
    </div>
    <div class="col-1"></div>
</div>