<div class="row pt-2 pb-2 panel-home">
    <div class="col-sm-4">
        <img src="./assets/img/notices/Freya_banner.jpg" width="100%" alt="freya banner">
    </div>
    <div class="col-sm-8">
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate debitis animi totam aperiam. Necessitatibus assumenda illo odio dolores vel eum rerum nobis voluptatum. Inventore facilis iusto commodi debitis deleniti!
        </p>
    </div>
</div>

<div class="row pt-2 pb-2 panel-home">
    <div class="col-sm-4">
        <img src="./assets/img/notices/TrickOrTreat_banner.jpg" width="100%" alt="trick or treat banner">
    </div>
    <div class="col-sm-8">
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate debitis animi totam aperiam. Necessitatibus assumenda illo odio dolores vel eum rerum nobis voluptatum. Inventore facilis iusto commodi debitis deleniti!
        </p>
    </div>
</div>

<div class="row pt-2 pb-2 panel-home">
    <div class="col-sm-4">
        <img src="./assets/img/notices/7anniv_banner.png" width="100%" alt="anniv banner">
    </div>
    <div class="col-sm-8">
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate debitis animi totam aperiam. Necessitatibus assumenda illo odio dolores vel eum rerum nobis voluptatum. Inventore facilis iusto commodi debitis deleniti!
        </p>
    </div>
</div>

<div class="row pt-2 pb-2 panel-home">
    <div class="col-sm-4">
        <img src="./assets/img/notices/WhiteTiger_banner4.jpg" width="100%" alt="white tiger banner">
    </div>
    <div class="col-sm-8">
        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate debitis animi totam aperiam. Necessitatibus assumenda illo odio dolores vel eum rerum nobis voluptatum. Inventore facilis iusto commodi debitis deleniti!
        </p>
    </div>
</div>