<link rel="stylesheet" href="./resource/views/auction/auction.css">
<div class="row">
    <div class="col-12 bg-color-title text-center">
        Auction
    </div>
</div>
<div class="row pt-2">
    <div class="col-12">
        <ul class="nav nav-tabs-auction">
            <li class="nav-item">
                <a class="nav-link text-menu nav-auction" href="#">Auction List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-menu" href="#">You Auctions</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid" style="border: 1px solid #d2c38d; background-color: #0f0e0e;">
    <div class="row pt-2 pb-2">
        <div class="col-2"></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="all">All</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_none">No Grade</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_d">D</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_c">C</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_b">B</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_a">A</a></div>
        <div class="col"><a class="btn btn-sm btn-block btn-color-primary" id="item_type_s">S</a></div>
    </div>
    <div class="row" style="border-top: 1px solid #d2c38d;">
        <div class="col-2 pb-2" style="border-right: 1px solid #d2c38d;">
            <!-- panel izquierdo -->
            <div class="row">
                <div class="col-12 bg-color-primary text-center">
                    Armors
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Head</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Armor</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Pants</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Boats</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Gloves</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Shields</a>
                </li>
            </ul>
            <div class="row pt-2">
                <div class="col-12 bg-color-primary text-center">
                    Weapons
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Daggers</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Blunts</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Staffs</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Swords</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Dual Swords</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Bows</a>
                </li>
            </ul>
            <div class="row pt-2">
                <div class="col-12 bg-color-primary text-center">
                    Others
                </div>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Pets</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Suplies</a>
                </li>
                <li class="nav-item pt-1">
                    <img src="../../img/texturesGame/l2ui_ch3/joypad_shortcut.png" alt="icon position">
                    <a class="text-menu" id="item_type_d">Others</a>
                </li>
            </ul>
        </div>
        <div class="col-10 pb-2 pt-1" id="content-items">
            <!-- panel derecho -->
        </div>
    </div>
</div>