<div class="row">
    <div class="col-12 bg-color-title text-center">
        Register accounts
    </div>
</div>
<div class="row pt-3">
    <div class="col-12 text-center">Please pay attention to the data you enter that you will not be able to recover your account if you forget the password!</div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row pt-5">
            <div class="col-12">
                <form onsubmit="return registerAccount()">
                    <div class="form-group">
                        <label for="formUser">User</label>
                        <input type="text" class="form-control" id="formUser">
                    </div>
                    <div class="form-group">
                        <label for="formPass">Password</label>
                        <input type="password" class="form-control" id="formPass">
                    </div>
                    <div class="form-group">
                        <label for="formPassRepeat">Repeat password</label>
                        <input type="password" class="form-control" id="formPassRepeat">
                    </div>
                    <button type="submit" class="btn btn-sm btn-block btn-color-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <span id="alertRegister" class="text-light"></span>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>

<script>

    function registerAccount()
    {
        if (document.getElementById('formPass').value != document.getElementById('formPassRepeat').value)
        {
            document.getElementById('alertRegister').textContent = 'The passwords do not match!';
            return false;
        }
        document.getElementById('alertRegister').textContent = 'working...';
        let sendValues =
        {
            user: document.getElementById('formUser').value,
            pass: document.getElementById('formPass').value
        };

        $.post('./api/register.php', sendValues, (result) =>
        {
            document.getElementById('alertRegister').textContent = result
        });
        return false;
    }
</script>