<link rel="stylesheet" href="./resource/views/bossinfo/bossinfo.css">
<div class="row">
    <div class="col-12 bg-color-title text-center">
        Estado de los GrandBoss
    </div>
</div>
<div class="row pt-2">
    <table class="table text-light">
        <thead>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Estado</th>
            <th>Tiempo de respawn</th>
            <th></th>
            <th></th>
        </thead>
        <tbody id="infoTable1">
            <!-- code in javascript -->
        </tbody>
    </table>
</div>
<div class="row pt-2">
    <div class="col-12 bg-color-title text-center">
        Estado de los RaidBoss
    </div>
</div>
<div class="row pt-2">
    <table class="table text-light">
        <thead>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Estado</th>
            <th>Tiempo de respawn</th>
            <th></th>
            <th></th>
        </thead>
        <tbody id="infoTable2">
            <!-- code in javascript -->
        </tbody>
    </table>
</div>
<script src="./resource/views/bossinfo/bossinfo.js"></script>