<link rel="stylesheet" href="./resource/views/events/events.css">
<div class="row">
    <div class="col-12 bg-color-title text-center">
        Eventos
    </div>
</div>
<div class="row pt-2 pb-2 panel-event">
    <div class="col-2">
        <img src="../../../img/events/doubleXP_2_160x120.jpg" width="100%" alt="">
    </div>
    <div class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam porro corporis explicabo sapiente, eaque cum quis totam soluta ipsa molestias quia autem quam alias culpa quidem amet provident blanditiis!
    </div>
</div>
<div class="row pt-2 pb-2 panel-event">
    <div class="col-2">
        <img src="../../../img/events/doubleXP_3_160x120.jpg" width="100%" alt="">
    </div>
    <div class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam porro corporis explicabo sapiente, eaque cum quis totam soluta ipsa molestias quia autem quam alias culpa quidem amet provident blanditiis!
    </div>
</div>
<div class="row pt-2 pb-2 panel-event">
    <div class="col-2">
        <img src="../../../img/events/doubleXPdrops_160x120.jpg" width="100%" alt="">
    </div>
    <div class="col-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam porro corporis explicabo sapiente, eaque cum quis totam soluta ipsa molestias quia autem quam alias culpa quidem amet provident blanditiis!
    </div>
</div>