<div class="row panel-border mb-3">
    <div class="col-12 bg-color-panel-right">
        <div class="row bg-color-title">
            <div class="col-3">
                <img src="../../img/texturesGame/l2ui_ct1/clan_DF_clanwaricon_bluecrownleader.png" alt="">
            </div>
            <div class="col-9 text-left">
                CASTLES
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-borderless text-light" id="tablesCastles" style="font-size: small;">
                    <!-- generate in javascript -->
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $.get('./api/getcastlesowner.php', (result) =>
    {
        let json = JSON.parse(result);

        let tablepk = document.getElementById('tablesCastles');
        json.forEach(castle =>
        {
            let tr = document.createElement('tr');

            let tdPos = document.createElement('td');
            tdPos.innerHTML = '<img src="../../img/texturesGame/l2ui_ch3/ps_sizecontrol2_over.png">';

            let tdCastle = document.createElement('td')
            tdCastle.textContent = castle.castle;

            let tdOwner = document.createElement('td');
            tdOwner.textContent = castle.owner;

            tr.appendChild(tdPos);
            tr.appendChild(tdCastle);
            tr.appendChild(tdOwner);

            tablepk.appendChild(tr);
        });

    });
</script>