<div class="row panel-border mb-3" style="padding: 12px;">
    <div class="col-12 bg-color-panel-right">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v9.0" nonce="dhltnWhM"></script>
        <div class="fb-page" data-href="https://www.facebook.com/l2jdeveloper/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/l2jdeveloper/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/l2jdeveloper/">Fissban L2jdeveloper</a></blockquote>
        </div>
    </div>
</div>
<script>
    $.get('./api/getpk.php', (result) =>
    {
        let json = JSON.parse(result);

        let tablepk = document.getElementById('tablepk');
        let pos = 1;
        json.forEach(character =>
        {
            let tr = document.createElement('tr');

            let tdPos = document.createElement('td');
            tdPos.innerHTML = '<img src="../../img/texturesGame/l2ui_ch3/ps_sizecontrol2.png" alt="icon position">' + pos;

            let tdName = document.createElement('td')
            tdName.textContent = character.char_name;

            let tdPvp = document.createElement('td');
            tdPvp.textContent = character.pkkills;

            tr.appendChild(tdPos);
            tr.appendChild(tdName);
            tr.appendChild(tdPvp);

            tablepk.appendChild(tr);
            pos++;
        });

    });
</script>