<div class="row panel-border mb-3">
    <div class="col-12 bg-color-panel-right">
        <div class="row bg-color-title p-0">
            <div class="col-2">
                <img src="../../img/texturesGame/others/icon_Menu_ShopLcoinCraftWnd.png" alt="icon rank pk">
            </div>
            <div class="col-10 pl-5 pt-2 text-left">
                TOP PK
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-borderless text-light" id="tablepk" style="font-size: small;">
                    <!-- generate in javascript -->
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $.get('./api/getpk.php', (result) =>
    {
        let json = JSON.parse(result);

        let tablepk = document.getElementById('tablepk');
        let pos = 1;
        json.forEach(character =>
        {
            let tr = document.createElement('tr');

            let tdPos = document.createElement('td');
            tdPos.innerHTML = '<img src="../../img/texturesGame/l2ui_ch3/ps_sizecontrol2.png" alt="icon position">' + pos;

            let tdName = document.createElement('td')
            tdName.textContent = character.char_name;

            let tdPvp = document.createElement('td');
            tdPvp.textContent = character.pkkills;

            tr.appendChild(tdPos);
            tr.appendChild(tdName);
            tr.appendChild(tdPvp);

            tablepk.appendChild(tr);
            pos++;
        });

    });
</script>