<div class="row">
    <div class="col-12 bg-color-title text-center">
        Rankings
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <ul class="nav nav-tabs-ranking">
            <li class="nav-item">
                <a class="nav-link text-menu nav-ranking-off link-cursor" id="topPvp" onclick="rankings.getPvp()">Top PVP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-menu nav-ranking-off link-cursor" id="topPk" onclick="rankings.getPk()">Top PK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-menu nav-ranking-off link-cursor" id="castles" onclick="rankings.getCastles()">Castles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-menu nav-ranking-off link-cursor" id="others" onclick="rankings.setActive('others')">Others</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12" id="content">
        <!-- code in javascript -->
    </div>

</div>